<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from phono-demo.myshopify.com/pages/contact-us by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 06 Nov 2020 10:56:26 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

  
  <link rel="shortcut icon" href="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/favicon0012.png?v=17101946069676334379" type="image/png" />
  

  <!-- Title and description ================================================== -->
  <title>
    Contact us &ndash; Phono
  </title>
  
  <!-- Social meta ================================================== -->
  

  <meta property="og:type" content="website">
  <meta property="og:title" content="Contact us">
  <meta property="og:url" content="contact-us.html">
  
  <meta property="og:image" content="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/logodea7.png?v=16701608685471921277">
  <meta property="og:image:secure_url" content="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/logodea7.png?v=16701608685471921277">
  


<meta property="og:site_name" content="Phono">



<meta name="twitter:card" content="summary">





  <!-- Helpers ================================================== -->
  <link rel="canonical" href="contact-us.html">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#ffffff">

  <!-- CSS ================================================== -->
  <link href="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/frame.scssec39.css?v=17852677270710569768" rel="stylesheet" type="text/css" media="all" />  
  <link href="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/style8905.css?v=5045170032217786360" rel="stylesheet" type="text/css" media="all" />  
  <link href="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/slick-theme5606.css?v=9913182463018565908" rel="stylesheet" type="text/css" media="all" />
  <link href="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/slick.scss75ae.css?v=16537647626574767879" rel="stylesheet" type="text/css" media="all" />
  <link href="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/slick-slidere60c.css?v=15306499933921296439" rel="stylesheet" type="text/css" media="all" />

  <link href="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/animatea14e.css?v=17046942425478865338" rel="stylesheet" type="text/css" media="all" />
  <link href="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/font-all.min373a.css?v=15722457319706631789" rel="stylesheet" type="text/css" media="all" />

  
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:300,300italic,400,600,400italic,600italic,700,700italic,800,800italic">
  
  
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Rajdhani:300,300italic,400,600,400italic,600italic,700,700italic,800,800italic">
  
  
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Work+Sans:300,300italic,400,600,400italic,600italic,700,700italic,800,800italic">
  


  <!-- Header hook for plugins ================================================== -->
  <script>window.performance && window.performance.mark && window.performance.mark('shopify.content_for_header.start');</script><meta id="shopify-digital-wallet" name="shopify-digital-wallet" content="/10469179492/digital_wallets/dialog">
<link href="https://monorail-edge.shopifysvc.com/" rel="dns-prefetch">
<script id="shopify-features" type="application/json">{"accessToken":"2d64b079e8e8f363d3e55e863e585680","betas":["rich-media-storefront-analytics"],"domain":"phono-demo.myshopify.com","predictiveSearch":true,"shopId":10469179492,"smart_payment_buttons_url":"https:\/\/cdn.shopify.com\/shopifycloud\/payment-sheet\/assets\/latest\/spb.en.js","dynamic_checkout_cart_url":"https:\/\/cdn.shopify.com\/shopifycloud\/payment-sheet\/assets\/latest\/dynamic-checkout-cart.en.js","locale":"en"}</script>
<script>var Shopify = Shopify || {};
Shopify.shop = "phono-demo.myshopify.com";
Shopify.locale = "en";
Shopify.currency = {"active":"USD","rate":"1.0"};
Shopify.theme = {"name":"phono (final)","id":79144484964,"theme_store_id":null,"role":"main"};
Shopify.theme.handle = "null";
Shopify.theme.style = {"id":null,"handle":null};
Shopify.cdnHost = "cdn.shopify.com";</script>
<script type="module">!function(o){(o.Shopify=o.Shopify||{}).modules=!0}(window);</script>
<script>!function(o){function n(){var o=[];function n(){o.push(Array.prototype.slice.apply(arguments))}return n.q=o,n}var t=o.Shopify=o.Shopify||{};t.loadFeatures=n(),t.autoloadFeatures=n()}(window);</script>
<script>(function() {
  function asyncLoad() {
    var urls = ["\/\/productreviews.shopifycdn.com\/assets\/v4\/spr.js?shop=phono-demo.myshopify.com","https:\/\/instafeed.nfcube.com\/cdn\/206ccee4e1c2c0afdefbbf5d689d79f8.js?shop=phono-demo.myshopify.com"];
    for (var i = 0; i < urls.length; i++) {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = urls[i];
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
    }
  };
  if(window.attachEvent) {
    window.attachEvent('onload', asyncLoad);
  } else {
    window.addEventListener('load', asyncLoad, false);
  }
})();</script>
<script id="__st">var __st={"a":10469179492,"offset":-43200,"reqid":"92977f7e-3812-4e08-9509-8bbb1ea20ef8","pageurl":"phono-demo.myshopify.com\/pages\/contact-us","s":"pages-24753045604","u":"c3bf9609c344","p":"page","rtyp":"page","rid":24753045604};</script>
<script>window.ShopifyPaypalV4VisibilityTracking = true;</script>
<script>window.ShopifyAnalytics = window.ShopifyAnalytics || {};
window.ShopifyAnalytics.meta = window.ShopifyAnalytics.meta || {};
window.ShopifyAnalytics.meta.currency = 'USD';
var meta = {"page":{"pageType":"page","resourceType":"page","resourceId":24753045604}};
for (var attr in meta) {
  window.ShopifyAnalytics.meta[attr] = meta[attr];
}</script>
<script>window.ShopifyAnalytics.merchantGoogleAnalytics = function() {
  
};
</script>
<script class="analytics">(function () {
  var customDocumentWrite = function(content) {
    var jquery = null;

    if (window.jQuery) {
      jquery = window.jQuery;
    } else if (window.Checkout && window.Checkout.$) {
      jquery = window.Checkout.$;
    }

    if (jquery) {
      jquery('body').append(content);
    }
  };

  var hasLoggedConversion = function(token) {
    if (document.cookie.indexOf('loggedConversion=' + window.location.pathname) !== -1) {
      return true;
    }
    if (token) {
      return document.cookie.indexOf('loggedConversion=' + token) !== -1;
    }
    return false;
  }

  var setCookieIfConversion = function(token) {
    if (token) {
      var twoMonthsFromNow = new Date(Date.now());
      twoMonthsFromNow.setMonth(twoMonthsFromNow.getMonth() + 2);

      document.cookie = 'loggedConversion=' + token + '; expires=' + twoMonthsFromNow;
    }
  }

  var trekkie = window.ShopifyAnalytics.lib = window.trekkie = window.trekkie || [];
  if (trekkie.integrations) {
    return;
  }
  trekkie.methods = [
    'identify',
    'page',
    'ready',
    'track',
    'trackForm',
    'trackLink'
  ];
  trekkie.factory = function(method) {
    return function() {
      var args = Array.prototype.slice.call(arguments);
      args.unshift(method);
      trekkie.push(args);
      return trekkie;
    };
  };
  for (var i = 0; i < trekkie.methods.length; i++) {
    var key = trekkie.methods[i];
    trekkie[key] = trekkie.factory(key);
  }
  trekkie.load = function(config) {
    trekkie.config = config;
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.onerror = function(e) {      var Monorail = {
      produce: function produce(monorailDomain, schemaId, payload) {
        var currentMs = new Date().getTime();
        var event = {
          schema_id: schemaId,
          payload: payload,
          metadata: {
            event_created_at_ms: currentMs,
            event_sent_at_ms: currentMs
          }
        };
        return Monorail.sendRequest("https://" + monorailDomain + "/v1/produce", JSON.stringify(event));
      },
      sendRequest: function sendRequest(endpointUrl, payload) {
        // Try the sendBeacon API
        if (window && window.navigator && typeof window.navigator.sendBeacon === 'function' && typeof window.Blob === 'function' && !Monorail.isIos12()) {
          var blobData = new window.Blob([payload], {
            type: 'text/plain'
          });
    
          if (window.navigator.sendBeacon(endpointUrl, blobData)) {
            return true;
          } // sendBeacon was not successful
    
        } // XHR beacon   
    
        var xhr = new XMLHttpRequest();
    
        try {
          xhr.open('POST.html', endpointUrl);
          xhr.setRequestHeader('Content-Type', 'text/plain');
          xhr.send(payload);
        } catch (e) {
          console.log(e);
        }
    
        return false;
      },
      isIos12: function isIos12() {
        return window.navigator.userAgent.lastIndexOf('iPhone; CPU iPhone OS 12_') !== -1 || window.navigator.userAgent.lastIndexOf('iPad; CPU OS 12_') !== -1;
      }
    };
    Monorail.produce('monorail-edge.shopifysvc.com',
      'trekkie_storefront_load_errors/1.0',
      {shop_id: 10469179492,
      theme_id: 79144484964,
      app_name: "storefront"});

      
    };
    script.async = true;
    script.src = '../../cdn.shopify.com/s/javascripts/tricorder/trekkie.storefront.mindd82.js?v=2020.07.13.1';
    var first = document.getElementsByTagName('script')[0];
    first.parentNode.insertBefore(script, first);
  };
  trekkie.load(
    {"Trekkie":{"appName":"storefront","development":false,"defaultAttributes":{"shopId":10469179492,"isMerchantRequest":null,"themeId":79144484964,"themeCityHash":"10370632317980666458","contentLanguage":"en","currency":"USD"},"isServerSideCookieWritingEnabled":true,"isPixelGateEnabled":true},"Performance":{"navigationTimingApiMeasurementsEnabled":true,"navigationTimingApiMeasurementsSampleRate":1},"Session Attribution":{}}
  );

  var loaded = false;
  trekkie.ready(function() {
    if (loaded) return;
    loaded = true;

    window.ShopifyAnalytics.lib = window.trekkie;
    

    var originalDocumentWrite = document.write;
    document.write = customDocumentWrite;
    try { window.ShopifyAnalytics.merchantGoogleAnalytics.call(this); } catch(error) {};
    document.write = originalDocumentWrite;
      (function () {
        if (window.BOOMR && (window.BOOMR.version || window.BOOMR.snippetExecuted)) {
          return;
        }
        window.BOOMR = window.BOOMR || {};
        window.BOOMR.snippetStart = new Date().getTime();
        window.BOOMR.snippetExecuted = true;
        window.BOOMR.snippetVersion = 12;
        window.BOOMR.application = "storefront-renderer";
        window.BOOMR.themeName = "";
        window.BOOMR.themeVersion = "";
        window.BOOMR.shopId = 10469179492;
        window.BOOMR.themeId = 79144484964;
        window.BOOMR.url =
          "../../cdn.shopify.com/shopifycloud/boomerang/shopify-boomerang-1.0.0.min.js";
        var where = document.currentScript || document.getElementsByTagName("script")[0];
        var parentNode = where.parentNode;
        var promoted = false;
        var LOADER_TIMEOUT = 3000;
        function promote() {
          if (promoted) {
            return;
          }
          var script = document.createElement("script");
          script.id = "boomr-scr-as";
          script.src = window.BOOMR.url;
          script.async = true;
          parentNode.appendChild(script);
          promoted = true;
        }
        function iframeLoader(wasFallback) {
          promoted = true;
          var dom, bootstrap, iframe, iframeStyle;
          var doc = document;
          var win = window;
          window.BOOMR.snippetMethod = wasFallback ? "if" : "i";
          bootstrap = function(parent, scriptId) {
            var script = doc.createElement("script");
            script.id = scriptId || "boomr-if-as";
            script.src = window.BOOMR.url;
            BOOMR_lstart = new Date().getTime();
            parent = parent || doc.body;
            parent.appendChild(script);
          };
          if (!window.addEventListener && window.attachEvent && navigator.userAgent.match(/MSIE [67]./)) {
            window.BOOMR.snippetMethod = "s";
            bootstrap(parentNode, "boomr-async");
            return;
          }
          iframe = document.createElement("IFRAME");
          iframe.src = "about:blank";
          iframe.title = "";
          iframe.role = "presentation";
          iframe.loading = "eager";
          iframeStyle = (iframe.frameElement || iframe).style;
          iframeStyle.width = 0;
          iframeStyle.height = 0;
          iframeStyle.border = 0;
          iframeStyle.display = "none";
          parentNode.appendChild(iframe);
          try {
            win = iframe.contentWindow;
            doc = win.document.open();
          } catch (e) {
            dom = document.domain;
            iframe.src = "javascript:var d=document.open();d.domain='" + dom + "';void(0);";
            win = iframe.contentWindow;
            doc = win.document.open();
          }
          if (dom) {
            doc._boomrl = function() {
              this.domain = dom;
              bootstrap();
            };
            doc.write("<body onload='document._boomrl();'>");
          } else {
            win._boomrl = function() {
              bootstrap();
            };
            if (win.addEventListener) {
              win.addEventListener("load", win._boomrl, false);
            } else if (win.attachEvent) {
              win.attachEvent("onload", win._boomrl);
            }
          }
          doc.close();
        }
        var link = document.createElement("link");
        if (link.relList &&
          typeof link.relList.supports === "function" &&
          link.relList.supports("preload") &&
          ("as" in link)) {
          window.BOOMR.snippetMethod = "p";
          link.href = window.BOOMR.url;
          link.rel = "preload";
          link.as = "script";
          link.addEventListener("load", promote);
          link.addEventListener("error", function() {
            iframeLoader(true);
          });
          setTimeout(function() {
            if (!promoted) {
              iframeLoader(true);
            }
          }, LOADER_TIMEOUT);
          BOOMR_lstart = new Date().getTime();
          parentNode.appendChild(link);
        } else {
          iframeLoader(false);
        }
        function boomerangSaveLoadTime(e) {
          window.BOOMR_onload = (e && e.timeStamp) || new Date().getTime();
        }
        if (window.addEventListener) {
          window.addEventListener("load", boomerangSaveLoadTime, false);
        } else if (window.attachEvent) {
          window.attachEvent("onload", boomerangSaveLoadTime);
        }
        if (document.addEventListener) {
          document.addEventListener("onBoomerangLoaded", function(e) {
            e.detail.BOOMR.init({
              producer_url: "https://monorail-edge.shopifysvc.com/v1/produce",
              ResourceTiming: {
                enabled: true,
                trackedResourceTypes: ["script", "img", "css"]
              },
            });
            e.detail.BOOMR.t_end = new Date().getTime();
          });
        } else if (document.attachEvent) {
          document.attachEvent("onpropertychange", function(e) {
            if (!e) e=event;
            if (e.propertyName === "onBoomerangLoaded") {
              e.detail.BOOMR.init({
                producer_url: "https://monorail-edge.shopifysvc.com/v1/produce",
                ResourceTiming: {
                  enabled: true,
                  trackedResourceTypes: ["script", "img", "css"]
                },
              });
              e.detail.BOOMR.t_end = new Date().getTime();
            }
          });
        }
      })();
    

    
        window.ShopifyAnalytics.lib.page(
          null,
          {"pageType":"page","resourceType":"page","resourceId":24753045604}
        );
      

    var match = window.location.pathname.match(/checkouts\/(.+)\/(thank_you|post_purchase)/)
    var token = match? match[1]: undefined;
    if (!hasLoggedConversion(token)) {
      setCookieIfConversion(token);
      
    }
  });

  
      var eventsListenerScript = document.createElement('script');
      eventsListenerScript.async = true;
      eventsListenerScript.src = "../../cdn.shopify.com/shopifycloud/shopify/assets/shop_events_listener-68ba3f1321f00bf07cb78a03841621079812265e950cdccade3463749ea2705e.js";
      document.getElementsByTagName('head')[0].appendChild(eventsListenerScript);
    
})();</script>
<script>!function(e){e.addEventListener("DOMContentLoaded",function(){var t;null!==e.querySelector('form[action^="/contact"] input[name="form_type"][value="contact"]')&&(window.Shopify=window.Shopify||{},window.Shopify.recaptchaV3=window.Shopify.recaptchaV3||{siteKey:"6LcCR2cUAAAAANS1Gpq_mDIJ2pQuJphsSQaUEuc9"},(t=e.createElement("script")).setAttribute("src","../../cdn.shopify.com/shopifycloud/storefront-recaptcha-v3/v0.1/index.js"),e.body.appendChild(t))})}(document);</script>
<script integrity="sha256-JP8SIsmqE7shdlPA0+ooxAp5aigObaKa1CHuwqYHXIY=" data-source-attribution="shopify.loadfeatures" defer="defer" src="../../cdn.shopify.com/shopifycloud/shopify/assets/storefront/load_feature-24ff1222c9aa13bb217653c0d3ea28c40a796a280e6da29ad421eec2a6075c86.js" crossorigin="anonymous"></script>
<script integrity="sha256-h+g5mYiIAULyxidxudjy/2wpCz/3Rd1CbrDf4NudHa4=" data-source-attribution="shopify.dynamic-checkout" defer="defer" src="../../cdn.shopify.com/shopifycloud/shopify/assets/storefront/features-87e8399988880142f2c62771b9d8f2ff6c290b3ff745dd426eb0dfe0db9d1dae.js" crossorigin="anonymous"></script>
<script id="sections-script" data-sections="top-bar-type-2,footer-model-17" defer="defer" src="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/compiled_assets/scripts6d08.js?14180"></script>

<script>window.performance && window.performance.mark && window.performance.mark('shopify.content_for_header.end');</script>
  

<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
<script src="//cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/respond.min.js?v=5224867783754261923" type="text/javascript"></script>
<link href="//cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
<link href="//phono-demo.myshopify.com/search?q=4f732a473991941d4f28ca419723240b" id="respond-redirect" rel="respond-redirect" />
<script src="//phono-demo.myshopify.com/search?q=4f732a473991941d4f28ca419723240b" type="text/javascript"></script>
<![endif]-->

  
  <script src="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/header5b82.js?v=10798697627293206366" type="text/javascript"></script> 

  

  
    

  <script>
    window.use_sticky = false;
    window.ajax_cart = true;
    window.money_format = "<span class=money>${{amount}} USD</span>";
    window.shop_currency = "USD";
    window.show_multiple_currencies = true;
    window.enable_sidebar_multiple_choice = true;
    window.loading_url = "../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/loadinga062.gif?v=5083731268673326083";     
    window.dropdowncart_type = "hover";
    window.file_url = "http://cdn.shopify.com/s/files/1/0104/6917/9492/files/?14180";
    window.asset_url = "";
    window.items="Items";
    window.many_in_stock="Many In Stock";
    window.out_of_stock=" Out of stock";
    window.in_stock=" In Stock";
    window.unavailable="Unavailable";
    window.product_name="Product Name";
    window.product_image="Product Image";
    window.product_desc="Product Description";
    window.available_stock="Available In stock";
    window.unavailable_stock="Unavailable In stock";
    window.compare_note="Product Added over 8 product !. Do you want to compare 8 added product ?";
    window.added_to_cmp="Added to compare";
    window.add_to_cmp="Add to compare";
    window.select_options="Select options";
    window.add_to_cart="Add to Cart";
    window.confirm_box="Yes,I want view it!";
    window.cancelButtonText="Continue";
    window.remove="Remove";
    window.use_color_swatch = false;
    window.newsletter_popup = true;  
    var  compare_list = []; 
  </script>  
</head>

<body id="contact-us" class="template-page" >
  
  <div id="PageContainer"></div>   
  <div class="quick-view"></div>   
  <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left " id="cbp-spmenu-s1">
    <div class="gf-menu-device-wrapper">
      <div class="close-menu">x</div>
      <div class="gf-menu-device-container"></div>
    </div>             
  </nav>


  
  <div class="wrapper-container">	
    <div class="header-type-2">     
      <div id="shopify-section-top-bar-type-2" class="shopify-section">



</div> 

      <div id="SearchDrawer" class="search-bar drawer drawer--top search-bar-type-2">
  <div class="search-bar__table">
    <form action="https://phono-demo.myshopify.com/search" method="get" class="search-bar__table-cell search-bar__form" role="search">
      <input type="hidden" name="type" value="product">  
      <div class="search-bar__table">
        <div class="search-bar__table-cell search-bar__icon-cell">
          <button type="submit" class="search-bar__icon-button search-bar__submit">
            <span class="fas fa-search" aria-hidden="true"></span>
          </button>
        </div>
        <div class="search-bar__table-cell">
          <input type="hidden" name="type" value="product">  
          <input type="search" id="SearchInput" name="q" value="" placeholder="Search..." aria-label="Search..." class="search-bar__input">
        </div>
      </div>
    </form>
    <div class="search-bar__table-cell text-right">
      <button type="button" class="search-bar__icon-button search-bar__close js-drawer-close">
        <span class="fas fa-times" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</div>

      <header class="site-header">
        
        <div class="header-sticky">
          <div id="header-landing" class="sticky-animate">
            <div class="container-bg">
              <div class="grid--full site-header__menubar"> 

                
  <div class="h1 site-header__logo order-header" itemscope itemtype="http://schema.org/Organization">
    
    
    <a href="../index.html">
      <img class="normal-logo" src="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/logodea7.png?v=16701608685471921277" alt="Phono" itemprop="logo">
    </a>
    
    
  </div>

   
                <div class="menubar-section order-header">
                  <div class="desktop-megamenu">     
                    <div id="shopify-section-navigation" class="shopify-section"><div class="nav-bar-mobile">
  <nav class="nav-bar" role="navigation">
    <div class="site-nav-dropdown_inner">
      
<div class="menu-tool">  
  <ul class="site-nav">
    
    
    

      
   	 
    
    <li class=" ">
      <a  href="../index.html" class="">
        <span>         
          Home     
        </span>       
      </a> 	

      
 	    
        

      
      
      

      

    </li>
    
    
    

      
   	 
    
    <li class=" dropdown  mega-menu ">
      <a  href="../collections.html" class="">
        <span>         
          Collection     
        </span>       
      </a> 	

      
 	    
        

                
      <div class="site-nav-dropdown">     
 <div class="container   style_4"> 
      <div class="col-1 parent-mega-menu">        
        
        <div class="inner col-xs-12 col">
          <!-- Menu level 2 -->
          <a  href="../products/oneplus-7.html" class=" ">
            SSD Card 
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
          </a>
          
          <ul class="dropdown">
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/oneplus-7.html" >
                Sony
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/honor-10-lite.html" >
                Teflon
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/samsung-galaxy-m10.html" >
                Tfpro
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/samsung-galaxy-m10.html" >
                Transcend
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/oppo-f11-pro.html" >
                SanDisk
              </a>
            </li>
            
          </ul>
          
        </div>
        
        <div class="inner col-xs-12 col">
          <!-- Menu level 2 -->
          <a  href="../collections/new-offers.html" class=" ">
            Power Banks 
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
          </a>
          
          <ul class="dropdown">
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/honor-10-lite.html" >
                Lenovo
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/honor-10-lite.html" >
                Kodak
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/samsung-galaxy-m10.html" >
                Portronics
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/honor-10-lite.html" >
                Pebble
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/oppo-f11-pro.html" >
                Moerdon
              </a>
            </li>
            
          </ul>
          
        </div>
        
        <div class="inner col-xs-12 col">
          <!-- Menu level 2 -->
          <a  href="../products/oneplus-7.html" class=" ">
            Earphone 
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
          </a>
          
          <ul class="dropdown">
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/honor-10-lite.html" >
                Billetera
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/oneplus-7.html" >
                Ubon
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/oneplus-7.html" >
                Rewy
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/oneplus-7.html" >
                Boat
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/oppo-f11-pro.html" >
                Philips
              </a>
            </li>
            
          </ul>
          
        </div>
        
        <div class="inner col-xs-12 col">
          <!-- Menu level 2 -->
          <a  href="../collections/new-offers.html" class=" ">
            Android  
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
          </a>
          
          <ul class="dropdown">
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/honor-10-lite.html" >
                Nokia
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/samsung-galaxy-m10.html" >
                Karbonn
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/oneplus-7.html" >
                Oppo
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/oppo-f11-pro.html" >
                Tecno
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/apple-iphone-xr.html" >
                Zopo
              </a>
            </li>
            
          </ul>
          
        </div>
        
     </div>
      
    </div>
</div>                     
      

      

    </li>
    
    
    

      
   	 
    
    <li class=" dropdown  mega-menu ">
      <a  href="../collections/all.html" class="">
        <span>         
          Shop     
        </span>       
      </a> 	

      
 	    
        

                
      <div class="site-nav-dropdown">     
 <div class="container   style_3"> 
      <div class="col-1 parent-mega-menu">        
        
        <div class="inner col-xs-12 col-sm-4">
          <!-- Menu level 2 -->
          <a  href="../products/samsung-galaxy-m10.html" class=" ">
            Smart Phone 
            
          </a>
          
          <ul class="dropdown">
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/oneplus-7.html" >
                Swipe
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/oppo-f11-pro.html" >
                Ziox 
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/oneplus-7.html" >
                Nokia
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/honor-10-lite.html" >
                Motorola
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/oppo-f11-pro.html" >
                Mi
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../collections/upcoming-products.html" >
                Apple
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/honor-10-lite.html" >
                Honor
              </a>
            </li>
            
          </ul>
          
        </div>
        
        <div class="inner col-xs-12 col-sm-4">
          <!-- Menu level 2 -->
          <a  href="../collections/latest-product.html" class=" ">
            Headphone 
            
          </a>
          
          <ul class="dropdown">
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/oneplus-7.html" >
                Philips
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/oneplus-7.html" >
                Sony 
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/honor-10-lite.html" >
                Sennheiser
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/honor-10-lite.html" >
                Signature
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/oneplus-7.html" >
                Motorola
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/samsung-galaxy-m10.html" >
                iBall
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/honor-10-lite.html" >
                Reiko
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/honor-10-lite.html" >
                Ubon
              </a>
            </li>
            
          </ul>
          
        </div>
        
        <div class="inner col-xs-12 col-sm-4">
          <!-- Menu level 2 -->
          <a  href="../products/oneplus-7.html" class=" ">
            Pen Drive 
            
          </a>
          
          <ul class="dropdown">
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/oppo-r17-pro.html" >
                Phenovo
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/honor-10-lite.html" >
                Mimoco
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/honor-10-lite.html" >
                Lexar
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/huawei-p30-pro.html" >
                Toogoo
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/samsung-galaxy-m10.html" >
                Verbatim
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/samsung-galaxy-m10.html" >
                Microware
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/oppo-f11-pro.html" >
                Kingston
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/honor-10-lite.html" >
                Eaget
              </a>
            </li>
            
          </ul>
          
        </div>
        
     </div>
      
      
     <div class="col-2">
          
          <div class="col-left">            
            <div class="widget-featured-product ">
              
              <div class="widget-product">
                <div class="products-grid">	                   
                  







<div class="grid-item product-item " id="product-1852909125732">
  <a href="../products/oppo-f11-pro.html" class="product-grid-image">
    <img src="../../cdn.shopify.com/s/files/1/0104/6917/9492/products/p4_large1032.jpg?v=1560495855" alt="OPPO F11 Pro">
  </a>
    
  
  
  <div class="details">
    <a class="product-title" href="../products/oppo-f11-pro.html">      
      OPPO F11 Pro      
    </a>
    <span class="shopify-product-reviews-badge" data-id="1852909125732"></span>
    <div class="price-box">
      
        <p class="regular-product">
          <span><span class=money>$101.00</span></span>
        </p>
        
    </div>
    
  </div>
</div>	  
                </div>                 
              </div>              
            </div>            
          </div>
          
          
         <div class="col-right">
            <a href="#" title="">
              <img src="../../cdn.shopify.com/s/files/1/0104/6917/9492/files/menu-1-1_2000x22e5.jpg?v=1555046586" alt="" />
            </a>
          </div>
                  
      </div>
            
      
    </div>
</div>                     
      

      

    </li>
    
    
    

      
   	 
    
    <li class=" dropdown  mega-menu ">
      <a  href="../collections/upcoming-products.html" class="">
        <span>         
          Android     
        </span>       
      </a> 	

      
 	    
        

                
      <div class="site-nav-dropdown">     
 <div class="container   style_1"> 
      <div class="col-1 parent-mega-menu">        
        
        <div class="inner col-xs-12 col-sm-4">
          <!-- Menu level 2 -->
          <a  href="../products/samsung-galaxy-m10.html" class=" ">
            Keypad  
            
          </a>
          
          <ul class="dropdown">
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/oneplus-7.html" >
                Ikall
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/honor-10-lite.html" >
                Peace
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/vivo-y93-1815.html" >
                Adcom
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/oneplus-7.html" >
                Bloom
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/honor-10-lite.html" >
                Aqua
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/honor-10-lite.html" >
                Inova
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/honor-10-lite.html" >
                G five
              </a>
            </li>
            
          </ul>
          
        </div>
        
        <div class="inner col-xs-12 col-sm-4">
          <!-- Menu level 2 -->
          <a  href="../products/samsung-galaxy-m10.html" class=" ">
             Touch Mobile 
            
          </a>
          
          <ul class="dropdown">
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/honor-10-lite.html" >
                Nokia
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/honor-10-lite.html" >
                Honor
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/apple-iphone-xr.html" >
                Motorola
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/honor-10-lite.html" >
                Intex
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/samsung-galaxy-m10.html" >
                Karbonn
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/honor-10-lite.html" >
                Lenovo
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/honor-10-lite.html" >
                Moto
              </a>
            </li>
            
          </ul>
          
        </div>
        
        <div class="inner col-xs-12 col-sm-4">
          <!-- Menu level 2 -->
          <a  href="../products/oneplus-7.html" class=" ">
            Smart Phone 
            
          </a>
          
          <ul class="dropdown">
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/honor-10-lite.html" >
                10.or
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/oneplus-7.html" >
                Intex
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/honor-10-lite.html" >
                Asus
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/oppo-f11-pro.html" >
                Nokia
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/honor-10-lite.html" >
                InFocus
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/apple-iphone-xr.html" >
                LYF
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/oppo-f11-pro.html" >
                Vivo
              </a>
            </li>
            
          </ul>
          
        </div>
        
     </div>
      
      
      <div class="col-2">
       
        
       
          <a href="#" title="">
            <img src="../../cdn.shopify.com/s/files/1/0104/6917/9492/files/menu-3_2000x719d.jpg?v=1555050470" alt="" />
          </a>
       
        
        
      </div>
      
      
    </div>
</div>                     
      

      

    </li>
    
    
    

      
   	 
    
    <li class=" dropdown  mega-menu ">
      <a  href="../collections/latest-product.html" class="">
        <span>         
          Accessories     
        </span>       
      </a> 	

      
 	    
        

                
      <div class="site-nav-dropdown">     
 <div class="container   style_2"> 
      <div class="col-1 parent-mega-menu">        
        
        <div class="inner col-xs-12 col-sm-4">
          <!-- Menu level 2 -->
          <a  href="../products/samsung-galaxy-m10.html" class=" ">
            Tempard Glass  
            
          </a>
          
          <ul class="dropdown">
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/lg-v40-thinq.html" >
                ikazen
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/oneplus-7.html" >
                Amzer
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/lg-v40-thinq.html" >
                Orzly
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/huawei-p30-pro.html" >
                Amzer
              </a>
            </li>
            
          </ul>
          
        </div>
        
        <div class="inner col-xs-12 col-sm-4">
          <!-- Menu level 2 -->
          <a  href="../collections/new-offers.html" class=" ">
            Display Screen 
            
          </a>
          
          <ul class="dropdown">
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/lg-v40-thinq.html" >
                Lively
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/vivo-y93-1815.html" >
                Sgc
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/vivo-y93-1815.html" >
                Saco
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/vivo-y93-1815.html" >
                Powerpak
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/oppo-f11-pro.html" >
                Chevron
              </a>
            </li>
            
          </ul>
          
        </div>
        
        <div class="inner col-xs-12 col-sm-4">
          <!-- Menu level 2 -->
          <a  href="../collections/new-offers.html" class=" ">
            Scratch Guard 
            
          </a>
          
          <ul class="dropdown">
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/honor-10-lite.html" >
                ECellStreet
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/honor-9-lite.html" >
                MoArmouz
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/apple-iphone-xr.html" >
                Frosskin
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/oppo-f11-pro.html" >
                Riona
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/oneplus-7.html" >
                Zagg
              </a>
            </li>
            
          </ul>
          
        </div>
        
        <div class="inner col-xs-12 col-sm-4">
          <!-- Menu level 2 -->
          <a  href="../products/samsung-galaxy-m10.html" class=" ">
            Power Banks 
            
          </a>
          
          <ul class="dropdown">
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/vivo-y93-1815.html" >
                Ambrane
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/oppo-f11-pro.html" >
                Intex
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/honor-10-lite.html" >
                Lapguard
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/apple-iphone-xr.html" >
                Lenovo
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/huawei-p30-pro.html" >
                Pebble
              </a>
            </li>
            
          </ul>
          
        </div>
        
        <div class="inner col-xs-12 col-sm-4">
          <!-- Menu level 2 -->
          <a  href="../products/oppo-f11-pro.html" class=" ">
            Earphones 
            
          </a>
          
          <ul class="dropdown">
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/apple-iphone-xr.html" >
                Sony
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/vivo-y93-1815.html" >
                Boat
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/oneplus-7.html" >
                Rewy
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/honor-10-lite.html" >
                Evidson
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/oppo-f11-pro.html" >
                Philips
              </a>
            </li>
            
          </ul>
          
        </div>
        
        <div class="inner col-xs-12 col-sm-4">
          <!-- Menu level 2 -->
          <a  href="../products/honor-10-lite.html" class=" ">
            Mini Speaker 
            
          </a>
          
          <ul class="dropdown">
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/honor-10-lite.html" >
                hiper song
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/apple-iphone-xr.html" >
                Speaker
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/huawei-p30-pro.html" >
                Quantum
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/honor-10-lite.html" >
                Photron
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/oppo-f11-pro.html" >
                X-mini
              </a>
            </li>
            
          </ul>
          
        </div>
        
     </div>
      
      
      <div class="col-2">
        
        <div class="col-left col-sm-6">
          <a href="../collections/all.html" title="">
            <img src="../../cdn.shopify.com/s/files/1/0104/6917/9492/files/menu-2-1_2000x8d2b.jpg?v=1555047560" alt="" />
          </a>
          <a href="#" title="">
            <img src="../../cdn.shopify.com/s/files/1/0104/6917/9492/files/menu-2-3_2000x0d01.jpg?v=1555047567" alt="" />
          </a>
        </div>
        
        
        <div class="col-right col-sm-6">
          <a href="#" title="">
            <img src="../../cdn.shopify.com/s/files/1/0104/6917/9492/files/menu-2-2_2000x7ae0.jpg?v=1555047572" alt="" />
          </a>
        </div>
            

      </div>
      
      
    </div>
</div>                     
      

      

    </li>
    
    
    

      
   	 
    
    <li class=" dropdown  mega-menu ">
      <a  href="../collections/new-offers.html" class="">
        <span>         
          Memory & Storage     
        </span>       
      </a> 	

      
 	    
        

                
      <div class="site-nav-dropdown">     
 <div class="container   style_5"> 
      <div class="col-1 parent-mega-menu">        
        
        <div class="inner col-xs-12 col-sm-4">
          <!-- Menu level 2 -->
          <a  href="../products/samsung-galaxy-m10.html" class=" ">
            SSD Card 
            
          </a>
          
          <ul class="dropdown">
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/oneplus-7.html" >
                Kingston
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/honor-10-lite.html" >
                Western Digital
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/honor-10-lite.html" >
                A-DATA
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/oppo-f11-pro.html" >
                SanDisk
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/oppo-f11-pro.html" >
                HP
              </a>
            </li>
            
          </ul>
          
        </div>
        
        <div class="inner col-xs-12 col-sm-4">
          <!-- Menu level 2 -->
          <a  href="../collections/upcoming-products.html" class=" ">
            Portable SSD 
            
          </a>
          
          <ul class="dropdown">
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/oppo-f11-pro.html" >
                Samsung
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/oneplus-7.html" >
                Seagate
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/honor-9-lite.html" >
                MyDigital
              </a>
            </li>
            
          </ul>
          
        </div>
        
        <div class="inner col-xs-12 col-sm-4">
          <!-- Menu level 2 -->
          <a  href="../products/samsung-galaxy-m10.html" class=" ">
            Memory Cards 
            
          </a>
          
          <ul class="dropdown">
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/apple-iphone-xr.html" >
                Lexar
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/honor-10-lite.html" >
                Toshiba
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/vivo-y93-1815.html" >
                Teflon
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/oppo-f11-pro.html" >
                Sony 
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/vivo-y93-1815.html" >
                Transcend
              </a>
            </li>
            
          </ul>
          
        </div>
        
        <div class="inner col-xs-12 col-sm-4">
          <!-- Menu level 2 -->
          <a  href="../products/honor-9-lite.html" class=" ">
            Flash Drives 
            
          </a>
          
          <ul class="dropdown">
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/samsung-galaxy-m10.html" >
                Transcend
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/oneplus-7.html" >
                Verbatim
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/honor-10-lite.html" >
                Enter
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/oppo-f11-pro.html" >
                Emtec
              </a>
            </li>
            
            <!-- Menu level 3 -->
            <li>
              <a href="../products/honor-10-lite.html" >
                Sony
              </a>
            </li>
            
          </ul>
          
        </div>
        
     </div>
            
            
      <div class="col-wide">
        
        <div class="bottom_left">          
          <a href="#" title="">
            <img src="../../cdn.shopify.com/s/files/1/0104/6917/9492/files/menu-4-1_8b41f8e0-f2b6-4534-b97a-a245aac0c9bd_2000x33d2.jpg?v=1555052741" alt="" />
          </a>
        </div>
        
        
        <div class="bottom_right">          
          <a href="#" title="">
            <img src="../../cdn.shopify.com/s/files/1/0104/6917/9492/files/menu-4-2_2000xcb73.jpg?v=1555052587" alt="" />
          </a>
        </div>
        
      </div>      
      
      
    </div>
</div>                     
      

      

    </li>
    
    
    

      
   	 
    
    <li class="  dropdown">
      <a class="menu__moblie"  href="about-us.html" class="">
        <span>         
          Pages     
        </span>       
      </a> 	

      
 	    
        

      
      
      <ul class="site-nav-dropdown">
  
  <li >                    
    <a href="about-us.html" class="">               
      <span>               
        About us                
      </span>
      
    </a>
    <ul class="site-nav-dropdown">
      
    </ul>
  </li>
  
  <li >                    
    <a href="contact-us.html" class="current">               
      <span>               
        Contact us                
      </span>
      
    </a>
    <ul class="site-nav-dropdown">
      
    </ul>
  </li>
  
  <li >                    
    <a href="../blogs/news.html" class="">               
      <span>               
        Blog                
      </span>
      
    </a>
    <ul class="site-nav-dropdown">
      
    </ul>
  </li>
  
  <li >                    
    <a href="faqs.html" class="">               
      <span>               
        Faq&#39;s                
      </span>
      
    </a>
    <ul class="site-nav-dropdown">
      
    </ul>
  </li>
  
</ul>
      
      

      

    </li>
    
  </ul>  
</div>
    </div>
  </nav>
</div>

</div>         
                  </div>
                </div>

                <div id="shopify-section-header-model-2" class="shopify-section"><ul class="menu-icon">
                  
  <li class="header-search">
    <a href="../search.html" class="site-header__link site-header__search js-drawer-open-top">
      <span class="fas fa-search" aria-hidden="true"></span>
    </a>
  </li>
    
  <li class="menu_bar_right">
   
      <div class="slidedown_section">
        <a title="Log in" id="Togglemodal" class="icon-cart-arrow"><i class="fas fa-user"></i></a>
        <div id="slidedown-modal">
          <div class="header-panel-top">
            <ul>
             
              
              <li>
                    <div class="customer_account">                          
                          <ul>
                            
                            
                            <li>
                              <a href="../account/login.html" title="Log in"> <i class="fas fa-sign-in-alt icons" aria-hidden="true"></i> Log in</a>
                            </li>
                            <li>
                              <a href="../account/register.html" title="Create account">  <i class="fas fa-user" aria-hidden="true"></i> Create account</a>
                            </li>          
                              
                             
							
                            <li>
                              <a href="wishlist.html" title="Wishlist"> <i class="far fa-heart" aria-hidden="true"></i> Wishlist</a>
                            </li>
                      
                          </ul>
                        </div>     
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    
  </li>
  
   
  <li class="header_currency">
    <ul class="tbl-list">
      <li class="currency dropdown-parent uppercase currency-block">
        
<div class="selector-arrow">
<select class="currencies_src" id="currencies">
  
  
  <option data-currency="USD"  selected  value="USD">USD</option> 
  
  
  
  <option data-currency="EUR"  value="EUR">EUR</option> 
  
  
  
  <option data-currency="GBP"  value="GBP">GBP</option> 
  
  
  
  <option data-currency="AUD"  value="AUD">AUD</option> 
  
  
  
  <option data-currency="INR"  value="INR">INR</option> 
  
   
  
  <option data-currency="JPY"  value="JPY">JPY</option> 
  
  
  
  <option data-currency="CAD"  value="CAD">CAD</option> 
  
  
  
  <option data-currency="CNY"  value="CNY">CNY</option> 
  
  
  
  <option data-currency="AED"  value="AED">AED</option> 
  
  
  
  <option data-currency="RUB"  value="RUB">RUB</option> 
  
</select>
</div>





      </li>
    </ul>
  </li>  

  
  <li class="header-bar__module cart header_cart">
    
    <!-- Mini Cart Start -->
<div class="baskettop">
  <div class="wrapper-top-cart">
    <a href="javascript:void(0)" id="ToggleDown" class="icon-cart-arrow">
      

      
      
      <i class="fas fa-shopping-bag"></i>
      <div class="detail">
        <div id="cartCount"> 
          0
        </div>
        
        <span class="cartCountspan">Item</span>
        
        <div id="minicart_total">
          <span> <span class=money>$0.00</span></span>
        </div>
      </div>
      
      
     
       
      
      
    
    
      
      
     
     
      
    </a> 
    <div id="slidedown-cart" style="display:none"> 
      <!--  <h3>Shopping cart</h3>-->
      <div class="no-items">
        <p>Your cart is currently empty!</p>
        <p class="text-continue"><a class="btn" href="javascript:void(0)">Continue shopping</a></p>
      </div>
      <div class="has-items">
        <ul class="mini-products-list">  
          
        </ul>
        <div class="summary">                
          <p class="total">
            <span class="label">Cart total :</span>
            <span class="price"><span class=money>$0.00</span></span> 
          </p>
        </div>
        <div class="actions">
          <button class="btn" onclick="window.location='../cart.html'"><i class="fas fa-check"></i>Check Out</button>
          <button class="btn text-cart" onclick="window.location='../cart.html'"><i class="fas fa-shopping-cart"></i>View Cart</button>
        </div>
      </div>
    </div>
  </div>
</div> <!-- End Top Header -->  
     
  </li>
  <li class="header-mobile">
    <div class="menu-block visible-phone"><!-- start Navigation Mobile  -->
      <div id="showLeftPush">
        <i class="fa fa-bars" aria-hidden="true">  </i>
      </div>
    </div><!-- end Navigation Mobile  --> 
  </li>
</ul> 
<style> 
  /* Top block */
  
  .header-type-2 .header-bar__module.cart .baskettop a.icon-cart-arrow #cartCount { background: #000000;color:#ffffff;}
  .header-type-2 .header-bar__module.cart .baskettop a.icon-cart-arrow:hover #cartCount { background: #eb0028;color:#ffffff;}


  /* Logo block */
  .header-type-2 .site-header__logo a,.header-type-2 .header-mobile #showLeftPush { color:#000000;}
  .header-type-2 .site-header__logo a:hover,.header-type-2 .header-mobile #showLeftPush:hover { color:#eb0028;}    

  .header-type-2 .site-header,.mobile-nav-section,.sticky-animate {background: #ffffff;}
  .header-type-2 .menu-tool ul li {color: ;}
  .header-type-2 .menu-tool ul li a,.mobile-nav-section .mobile-nav-trigger {color:#000000;}  
  .header-type-2 .menu-tool ul li a:hover,.header-type-2 .menu-tool .site-nav > li > a.current:hover {color:#eb0028;} 
  .header-type-2 .menu-tool .site-nav >  li > a.current {color:#eb0028;} 
  .header-type-2 .site-nav-dropdown,#MobileNav,.mobile-nav__sublist { background: #fff;}
  .header-type-2 .site-nav-dropdown .inner > a {color: #000;}    
  .header-type-2 .site-nav-dropdown .inner > a:hover {color: #eb0028;}    
  .header-type-2 .site-nav-dropdown .inner .dropdown a,.header-type-2 .menu-tool .site-nav .site-nav-dropdown li a,.header-type-2 .site-nav .widget-featured-product .product-title,.header-type-2 .site-nav .widget-featured-product .widget-title h3,#MobileNav a,.mobile-nav__sublist a,.site-nav .widget-featured-nav .owl-prev a,.site-nav .widget-featured-nav .owl-next a  {color: #808080;}
  .header-type-2 .site-nav-dropdown .inner .dropdown a:hover,.header-type-2 .menu-tool .site-nav .site-nav-dropdown li a:hover,.header-type-2 .site-nav-dropdown .inner .dropdown a.current,.header-type-2 .menu-tool .site-nav .site-nav-dropdown li a.current,.header-type-2 .site-nav .widget-featured-product .product-title:hover,#MobileNav a.current,.mobile-nav__sublist a.current,.site-nav .widget-featured-nav .owl-prev a:hover,.site-nav .widget-featured-nav .owl-next a:hover {color: #eb0028;}

  /* Dropdown block */
  .header-type-2 .menubar-section #Togglemodal i {color: #000;}
  .header-type-2 .menubar-section #Togglemodal i:hover {color: #eb0028;}
  .header-type-2 #slidedown-modal {background: #fff;}
  .header-type-2 #slidedown-modal ul li a {color:#000000;} 
  .header-type-2 #slidedown-modal ul li a:hover {color:#eb0028;} 

  /* Search block */     
  .header-type-2 .search-bar input[type="search"] {color:;} 
  .header-type-2 .header-search span  {color:#000000;} 
  .header-type-2 .header-search span:hover {color:#eb0028;} 
  .header-type-2 .search-bar__form, .header-type-2 #SearchDrawer,.drawer-page-content:after  {  background:;}
  .header-type-2 .search-bar__form button,.header-type-2 .search-bar__icon-button { color:;}
  .header-type-2 .search-bar__form button:hover,.header-type-2 .search-bar__icon-button:hover { color:;}
  .header-type-2 .header-panel-top ul li.currency-block,.header-type-2 #slidedown-cart li { border-bottom:1px solid #d4d4d4; }

  .header-type-2 .search-bar input[type="search"]::-webkit-input-placeholder  { /* Chrome/Opera/Safari */
    color:;
  }
  .header-type-2 .search-bar input[type="search"]::-moz-placeholder { /* Firefox 19+ */
    color:;
  }
  .header-type-2 .search-bar input[type="search"]:-ms-input-placeholder { /* IE 10+ */
    color:;
  }
  .header-type-2 .search-bar input[type="search"]:-moz-placeholder { /* Firefox 18- */
    color:;
  }
  /* Cart Summary block */
  .header-type-2 a.icon-cart-arrow i  {color: #000000;}
  .header-type-2 a.icon-cart-arrow:hover i {color: #eb0028;}
  .header-type-2 #slidedown-cart .actions, .header-type-2  #slidedown-cart  {background: #ffffff;}
  .header-type-2 .header-bar__module p {color: #000;}
  .header-type-2 .header-bar__module a {color:#000;}  
  .header-type-2 .header-bar__module a:hover {color:#eb0028;} 
  .header-type-2 .header-bar__module .btn {color:#ffffff;background: #000000;} 
  .header-type-2 .header-bar__module .btn:hover {color:#ffffff;background: #eb0028;} 


  /* Currency block */

  .header-type-2 .currency select ,.header-type-2 .header_currency ul li.currency .selector-arrow::after{color:#000000;}   
  
  .header-type-2 .currency select:hover ,.header-type-2 .header_currency ul li.currency:hover .selector-arrow::after{color:#eb0028;}  
  .header-type-2 .currency:hover:after {border-top-color:#eb0028;}
  .header-type-2 .currency ul li.currency:after {border-top-color:#000000;}
  .header-type-2 .currency option {background:#000000;color:#ffffff;}

 


</style> 



</div>
              </div>
          </div>
          </div>
        </div>
      </header>  

    </div>
  </div>
  
  
  <main class="main-content">  

    

<nav class="breadcrumb" aria-label="breadcrumbs">


  
  <h1>Contact us</h1>
  <a href="../index.html" title="Back to the frontpage">Home</a>

  <span aria-hidden="true" class="breadcrumb__sep">&#47;</span>
  <span>Contact us</span>

  
</nav>
  


    
      
      
      <div class="grid-uniform">
        <div class="grid__item"> 
          
            

<div id="map"><iframe width="960" height="578" style="border:0;overflow:hidden;" src="https://maps.google.co.in/?ie=UTF8&amp;t=m&amp;ll=-37.823006,144.977388&amp;spn=0.02034,0.042915&amp;z=14&amp;output=embed"></iframe> </div>


        
<div class="contact-address">
  <div class="wrapper">
    <div class="dt-sc-hr-invisible-large"></div>

    <div class="grid__item">
      
      <ul>
        <li class="grid__item wide--one-third post-large--one-third large--one-third">
          <div class="icon">
            <i class="fas fa-phone"></i>
          </div>
           
          <h4>Talk to us</h4>
          <p>  <b>Toll-Free: </b> 0803 - 080 - 3081 <br><b>Fax: </b> 0803 - 080 - 3082</p><mark></mark> 
          
        </li>
        <li class="grid__item wide--one-third post-large--one-third large--one-third">
          
          <div class="icon">
            <i class="far fa-envelope"></i>
          </div>
          <h4>Contact Us</h4>
          <p> 
            <a title="" href="#">buddhathemes@example.com</a><br><a title="" href="#">support@example.com</a>
          </p> 
          
        </li>
         
        <li class="address grid__item wide--one-third post-large--one-third large--one-third"> 
          <div class="icon">
            <i class="fas fa-location-arrow"></i>
          </div> 
          <h4>Location</h4>
          <p> No: 58 A, East Madison Street,<br /> Baltimore, MD, USA
4508<br /></p><mark></mark> 

        </li>
        
      </ul>



      
    </div>
    <div class="dt-sc-hr-invisible-large"></div>

    <div class="grid__item">
      <div class="contact-form-section">
        <form method="post" action="https://phono-demo.myshopify.com/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="contact-form"><input type="hidden" name="form_type" value="contact" /><input type="hidden" name="utf8" value="" />
        
        
        
        <label for="ContactFormName" class="label--hidden">Name</label>
        <input type="text" id="ContactFormName" name="contact[name]" placeholder="Name" autocapitalize="words" value="">
        <label for="ContactFormEmail" class="label--hidden">Email</label>
        <input type="email" id="ContactFormEmail" name="contact[email]" placeholder="Email *" autocorrect="off" autocapitalize="off" value="" required="required">
        
        <label for="ContactFormSub" class="label--hidden">translation missing: en.contact.form.phone</label>
        <input type="text" id="ContactFormSub" name="contact[subject]" placeholder="Subject" autocapitalize="words" value="">

        <label for="ContactFormMessage" class="label--hidden">Message</label>
        <textarea rows="7" id="ContactFormMessage" name="contact[body]" placeholder="Message"></textarea>

        <button type="submit" class="btn">Send</button>

        </form>
      </div>

    </div>


  </div>
</div>

	
           
        </div>
      </div>
      
      
    
    <div class="dt-sc-hr-invisible-large"></div>
    
  </main>


  
  <div id="shopify-section-footer-model-17" class="shopify-section index-section"><div data-section-id="footer-model-17"  data-section-type="Footer-model-17" class="footer-model-17" style="background-image:url('../../cdn.shopify.com/s/files/1/0104/6917/9492/files/footer_ad0f20f1-29b5-4188-8127-a6667ac6aea9_1920X46db.jpg?v=1554974918');background-repeat:no-repeat;background-position:center center; ;">
  <footer class="site-footer" style="">
    <div class="grid-uniform"> 
      <div class="footer-news-frm">
        <div class="container">
          
          <h5 class="news-spl-txt" style="color:#fff">SUBSCRIBE NOW</h5>
          
          
          <h2 style="color:#fff">Get our updates always fast</h2>
          
          
          <h5 style="color:#fff">Your personal data will be always keep safe</h5>
          
          <div class="grid__item">
            <div class="grid_column-inner" style="" >
                     
            <div class="footer_newsletter">
              
              <form method="post" action="https://phono-demo.myshopify.com/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="contact-form"><input type="hidden" name="form_type" value="customer" /><input type="hidden" name="utf8" value="" />
              
              <div class="input-group" style="background:#ffffff;">
                <input style="color:#000000;" type="email" value="" placeholder="Email address" name="contact[email]" class="mail" aria-label="Email address" >
                <input type="hidden" name="contact[tags]" value="newsletter">
                <button style="background:#000;color:#fff;" type="submit" class="btn subscribe" name="subscribe" value=""><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
              </div>
              
              
              </form>
              
            </div>
            
              
              <h5 style="color:#fff"></h5>
              
              
              <div class="footer-bottom">
        
        <div class="grid__item footer-bottom__menu" style="">          
          <ul>
            
            <li>
              <a style="color:#ffffff;" href="../index.html">Home</a>
            </li>
            
            <li>
              <a style="color:#ffffff;" href="../collections.html">Collection</a>
            </li>
            
            <li>
              <a style="color:#ffffff;" href="../collections/all.html">Shop</a>
            </li>
            
            <li>
              <a style="color:#ffffff;" href="../collections/upcoming-products.html">Android</a>
            </li>
            
            <li>
              <a style="color:#ffffff;" href="../collections/latest-product.html">Accessories</a>
            </li>
            
            <li>
              <a style="color:#ffffff;" href="../collections/new-offers.html">Memory & Storage</a>
            </li>
            
            <li>
              <a style="color:#ffffff;" href="about-us.html">Pages</a>
            </li>
            
          </ul>        
        </div>
        
      </div>
              
            </div>
          </div>
        </div>
      </div>


      <div class="footer-bottom-section" style="background:#ffffff;">   
        <div class="wrapper"> 
          <div class="grid__item">
                  
            <div class="grid__item wide--one-third post-large--one-third large--one-third medium--one-whole small-grid__item payment_section">                 
              <div class="footer-icons">        
                <ul class="inline-list payment-icons">
                  <li><a href="../cart.html"><img src="../../cdn.shopify.com/s/files/1/0104/6917/9492/files/card-icons_0000_23_d1c8ccda-a7db-4fa7-9680-84332bbcd19b_small5a64.png?v=1545905106" alt="payment_icon_1" /></a></li>
                  <li><a href="../cart.html"><img src="../../cdn.shopify.com/s/files/1/0104/6917/9492/files/card-icons_0001_22_0a1744c8-6f44-41b9-bd7b-72c1b1e6b1b4_small469f.png?v=1545905129" alt="payment_icon_2" /></a></li>
                  <li><a href="../cart.html"><img src="../../cdn.shopify.com/s/files/1/0104/6917/9492/files/card-icons_0009_14_smalld231.png?v=1545905142" alt="payment_icon_3" /></a></li>
                  <li><a href="../cart.html"><img src="../../cdn.shopify.com/s/files/1/0104/6917/9492/files/card-icons_0015_8_small2c22.png?v=1545905151" alt="payment_icon_4" /></a></li>
                  <li><a href="../cart.html"><img src="../../cdn.shopify.com/s/files/1/0104/6917/9492/files/card-icons_0016_7_2d565c97-d5df-48d6-b60b-d04e3006d1d4_small5588.png?v=1545905182" alt="payment_icon_5" /></a></li>
                              
                              
                              
                              
                              
                </ul>                    
              </div>           
            </div>
            

            
            
            <div class="grid__item wide--one-third post-large--one-third large--one-third medium--one-whole small-grid__item copyright right" style="">
                <p class="copyright_left" style="color:#000000">Copyright &copy; 2020, Phono
                  
                  <a target="_blank" rel="nofollow" href="https://www.shopify.com/?utm_campaign=poweredby&amp;utm_medium=shopify&amp;utm_source=onlinestore">Powered by Shopify</a>
                  
                </p>
              
            </div>
          </div>
        </div>
      </div>
    </div>



  </footer>

  <style>
.footer-model-17 .footer_newsletter input::-webkit-input-placeholder {  color:#000000;}
    .footer-model-17 .footer_newsletter input:-moz-placeholder { color:#000000;}
    .footer-model-17 .footer_newsletter input::-moz-placeholder {  color:#000000;}
    .footer-model-17 .footer_newsletter input:-ms-input-placeholder {  color:#000000;}
    .footer-model-17 .footer_newsletter input { color:#000000; }
    
    .footer-model-17 .footer_newsletter button:hover { background:#eb0028 !important;color:#ffffff !important; }
    .footer-model-17 .site-footer__links li a:hover { color: !important; }
    .footer-model-17 .footer-bottom .footer-bottom__menu ul li a:hover { color:#eb0028 !important; }
    .footer-model-17 .copyright a { color:#000000; }
    .footer-model-17 .copyright a:hover { color:#eb0028; }
    .footer-model-17 .site-footer .social-icons li a:hover { color: !important; }
    .footer-model-17 .site-footer input::-webkit-input-placeholder {  color:#000000;}
    .footer-model-17 .site-footer input:-moz-placeholder { color:#000000;}
    .footer-model-17 .site-footer input::-moz-placeholder {  color:#000000;}
    .footer-model-17 .site-footer input:-ms-input-placeholder {  color:#000000;}
    .footer-model-17 .site-footer input { color:#000000; }
    .footer-model-17 .site-footer input{background:;}
    
     .footer-model-17 .site-footer .btn:hover { background:#eb0028;color:#ffffff; }
    .footer-model-17 .site-footer .btn { background:#000;color:#fff; }

    
    
  </style>

  <div class="grid__item">

  </div>
</div>





</div>
  



  <script src="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/timbera6ab.js?v=17498282778827070966" type="text/javascript"></script>  
  <script src="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/footer5d7f.js?v=97396426770645426" type="text/javascript"></script>  
  <script src="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/theme10bd.js?v=18326697871268545370" type="text/javascript"></script>
  <script src="../../cdn.shopify.com/shopifycloud/shopify/assets/themes_support/option_selection-fe6b72c2bbdd3369ac0bfefe8648e3c889efca213baefd4cfb0dd9363563831f.js" type="text/javascript"></script>
  <script src="../../cdn.shopify.com/shopifycloud/shopify/assets/themes_support/api.jquery-e94e010e92e659b566dbc436fdfe5242764380e00398907a14955ba301a4749f.js" type="text/javascript"></script>    
  <script src="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/shopd775.js?v=12714818639140570596" type="text/javascript"></script>    

  



  <!-- Begin quick-view-template -->
<div class="clearfix" id="quickview-template" style="display:none">
  <div class="overlay"></div>
  <div class="content clearfix">
    <div class="product-img images">
      <div class="quickview-featured-image product-photo-container"></div>
      <div class="more-view-wrapper">
        <ul class="product-photo-thumbs quickview-more-views-owlslider owl-carousel owl-theme">
        </ul>
        <div class="quick-view-carousel"></div>
      </div>
    </div>
    <div class="product-shop summary">
      <div class="product-item product-detail-section">
        <h3 class="product-title"><a>&nbsp;</a></h3>
        
        <p class="item-text product-description"></p>
        
        <div class="prices product_price">
          <label>Effective Price :</label>
          <span class="price h2" id="QProductPrice"></span>
          <span class="compare-price" id="QComparePrice"></span>
        </div>
        
        <div class="product-infor">
          <p class="product-inventory"><label>Availability :</label><span></span></p>    
        </div>
        
        <div class="details clearfix">
          <form action="https://phono-demo.myshopify.com/cart/add" method="post" class="variants">
            <select name='id' style="display:none"></select>
            <div class="qty-section quantity-box">
              <label>Quantity :</label>
              <div class="dec button qtyminus">-</div>
              <input type="number" name="quantity" id="Qty" value="1" class="quantity">
              <div class="inc button qtyplus">+</div>
            </div>
            
            
            <div class="total-price">
              <label>Subtotal :</label><span class="h5"></span>
            </div>
                        
            <div class="actions">
                <button type="button" class="add-to-cart-btn btn">
                  Add to Cart
                </button>
              </div>
          </form>
        </div>     
      </div>
    </div>  
 <a href="javascript:void(0)" class="close-window"></a> 
  </div>
 
</div>
<!-- End of quick-view-template -->
<script type="text/javascript">  
  Shopify.doNotTriggerClickOnThumb = false; 
                                       
  var selectCallbackQuickview = function(variant, selector) {
      var productItem = jQuery('.quick-view .product-item');
          addToCart = productItem.find('.add-to-cart-btn'),
          productPrice = productItem.find('.price'),
          comparePrice = productItem.find('.compare-price'),
          totalPrice = productItem.find('.total-price span'),
          inventory = productItem.find('.product-inventory');
      if (variant) {
        if (variant.available) {          
          // We have a valid product variant, so enable the submit button
          addToCart.removeClass('disabled').removeAttr('disabled').text('Add to Cart');         
    
        } else {
          // Variant is sold out, disable the submit button
          addToCart.val('Sold Out').addClass('disabled').attr('disabled', 'disabled');         
        }
    
        // Regardless of stock, update the product price
        productPrice.html(Shopify.formatMoney(variant.price, "<span class=money>${{amount}}</span>"));
    
        // Also update and show the product's compare price if necessary
        if ( variant.compare_at_price > variant.price ) {
          comparePrice
            .html(Shopify.formatMoney(variant.compare_at_price, "<span class=money>${{amount}}</span>"))
            .show();
          productPrice.addClass('on-sale');
        } else {
          comparePrice.hide();
          productPrice.removeClass('on-sale');
        }
    
       
    
     //update variant inventory
     
     var inventoryInfo = productItem.find('.product-inventory span');
          if (variant.available) {
            if (variant.inventory_management !=null ) {
              inventoryInfo.text(window.in_stock );
              inventoryInfo.addClass('items-count');
              inventoryInfo.removeClass('many-in-stock');
              inventoryInfo.removeClass('out-of-stock');
              inventoryInfo.removeClass('unavailable');
            } else {
              inventoryInfo.text(window.many_in_stock);
              inventoryInfo.addClass('many-in-stock')
              inventoryInfo.removeClass('items-count');
              inventoryInfo.removeClass('out-of-stock');
              inventoryInfo.removeClass('unavailable');
            }
          } else {
            inventoryInfo.addClass('out-of-stock')
            inventoryInfo.text(window.out_of_stock);
            inventoryInfo.removeClass('items-count');
            inventoryInfo.removeClass('many-in-stock');
            inventoryInfo.removeClass('unavailable');
          }
     
    
    
    /*recaculate total price*/
        //try pattern one before pattern 2
        var regex = /([0-9]+[.|,][0-9]+[.|,][0-9]+)/g;
        var unitPriceTextMatch = jQuery('.quick-view .price').text().match(regex);

        if (!unitPriceTextMatch) {
          regex = /([0-9]+[.|,][0-9]+)/g;
          unitPriceTextMatch = jQuery('.quick-view .price').text().match(regex);     
        }

        if (unitPriceTextMatch) {
          var unitPriceText = unitPriceTextMatch[0];     
          var unitPrice = unitPriceText.replace(/[.|,]/g,'');
          var quantity = parseInt(jQuery('.quick-view input[name=quantity]').val());
          var totalPrice = unitPrice * quantity;

          var totalPriceText = Shopify.formatMoney(totalPrice, window.money_format);
          regex = /([0-9]+[.|,][0-9]+[.|,][0-9]+)/g;     
          if (!totalPriceText.match(regex)) {
            regex = /([0-9]+[.|,][0-9]+)/g;
          } 
          totalPriceText = totalPriceText.match(regex)[0];

          var regInput = new RegExp(unitPriceText, "g"); 
          var totalPriceHtml = jQuery('.quick-view .price').html().replace(regInput ,totalPriceText);
          jQuery('.quick-view .total-price span').html(totalPriceHtml);             
        }
    /*end of price calculation*/
    
    
    
        Currency.convertAll('USD', jQuery('#currencies').val(), 'span.money', 'money_format');
        
                            
        /*begin variant image*/
     /*begin variant image*/
        if (variant && variant.featured_image) {
            var originalImage = jQuery(".quick-view .quickview-featured-image img");
            var newImage = variant.featured_image;
            var element = originalImage[0];
            Shopify.Image.switchImage(newImage, element, function (newImageSizedSrc, newImage, element) {
              newImageSizedSrc = newImageSizedSrc.replace(/\?(.*)/,"");
              jQuery('.quick-view .more-view-wrapper img').each(function() {
                var grandSize = jQuery(this).attr('src');
                grandSize = grandSize.replace('medium','grande');
               
                if (grandSize == newImageSizedSrc) {
                  jQuery(this).parent().trigger('click');              
                  return false;
                }
              });
            });        
        }
        /*end of variant image*/   
        /*end of variant image*/ 
      } else {
        // The variant doesn't exist. Just a safegaurd for errors, but disable the submit button anyway
        addToCart.text('Unavailable').addClass('disabled').attr('disabled', 'disabled');
       
           
          var inventoryInfo = productItem.find('.product-inventory span');
          inventoryInfo.addClass("unavailable");
          inventoryInfo.removeClass("many-in-stock");
          inventoryInfo.removeClass("items-count");
          inventoryInfo.removeClass("out-of-stock");
          inventoryInfo.text(window.unavailable);
          
      }   
  };  
  
  </script>

  <div class="loading-modal compare_modal">Loading</div>
<div class="ajax-success-compare-modal compare_modal" id="moda-compare" tabindex="-1" role="dialog" style="display:none">
  <div class="overlay"> </div>
    <div class="modal-dialog modal-lg">
      <div class="modal-content content" id="compare-modal">
        <div class="modal-header">

          <h4 class="modal-title">Compare Products</h4>
        </div>
        <div class="modal-body">
          <div class="table-wrapper">
            <table class="table table-hover">
              <thead>
                <tr class="th-compare">
                  <th></th>
                </tr>
              </thead>
              <tbody id="table-compare">

              </tbody>

            </table>
           </div>
        </div>
        <div class="modal-footer">
           <a href="javascript:void(0)" class="close-modal"><i class="far fa-times-circle"></i></a>
        </div>         
      </div>
    </div>
  </div>

 
  <div class="loading-modal modal">Loading</div> 

<div class="newsletter-success-modal">
  <div class="modal-overlay"></div>
  <div class="ajax-modal-content">
    <a class="close close-window btn" title="Close (Esc)">
       <i class="fa fa-times"></i>
    </a>
      <i class="fa fa-check" aria-hidden="true"></i>
      <span>Thank you for signing up!</span>
    </div>
</div>    

<div class="ajax-error-modal modal">
  <div class="modal-inner">
    <div class="ajax-error-title">Error</div>
    <div class="ajax-error-message"></div>
  </div>
</div>
<div class="ajax-success-modal modal">
  	<div class="overlay"></div>
	<div class="content"> 
      
      
      <div class="ajax-left">    
        <p class="added-to-cart info">Product successfully added to your shopping cart</p>
      <p class="added-to-wishlist info">translation missing: en.products.wishlist.added_to_wishlist</p>
      <img class="ajax-product-image" alt="modal window" src="../index.html" />
       <div class="ajax-cart-desc">
        <h3 class="ajax-product-title"></h3>
        <span class="ajax_price"></span>
        <p>Qty:&nbsp;<span class="ajax_qty"></span></p>
        </div>
      </div>
      <div class="ajax-right"> 
        
        <p>There are <span class="ajax_cartCount"></span>&nbsp;item(s) in your cart</p>
        <span class="ajax_cartTotal"></span>
          <button class="btn continue-shopping" onclick="javascript:void(0)">Continue shopping</button>
        <div class="success-message added-to-cart"><a href="../cart.html" class="btn"><i class="fas fa-shopping-cart"></i>View Cart</a> </div>  
      <!--  <div class="success-message added-to-wishlist"> <a href="/pages/wishlist" class="btn"><i class="fa fa-heart"></i>View Wishlist</a></div>                -->
      </div>
    <a href="javascript:void(0)" class="close-modal"><i class="far fa-times-circle"></i></a>
 	</div>    
</div>
  
<script src="../../cdn.shopify.com/s/javascripts/currencies.js" type="text/javascript"></script>
<script src="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/jquery.currencies.minb15e.js?v=17505776077200662322" type="text/javascript"></script>

<script>      
// Pick your format here:  
// Can be 'money_format' or 'money_with_currency_format'
Currency.format = 'money_format';
var shopCurrency = 'USD';

/* Sometimes merchants change their shop currency, let's tell our JavaScript file */
Currency.moneyFormats[shopCurrency].money_with_currency_format = "${{amount}} USD";
Currency.moneyFormats[shopCurrency].money_format = "${{amount}}";

var cookieCurrency = Currency.cookie.read();

// Fix for customer account pages 
jQuery('span.money span.money').each(function() {
	jQuery(this).parent('span.money').removeClass('money');
});

// Add precalculated shop currency to data attribute 
jQuery('span.money').each(function() {
	jQuery(this).attr('data-currency-USD', jQuery(this).html());
});

// Select all your currencies buttons.
var currencySwitcher = jQuery('#currencies');

// When the page loads.
if (cookieCurrency == null || cookieCurrency == shopCurrency) {
	Currency.currentCurrency = shopCurrency;
}
else {
	Currency.currentCurrency = cookieCurrency;
    currencySwitcher.val(cookieCurrency);    
    Currency.convertAll(shopCurrency, cookieCurrency);	
}
//currencySwitcher.selectize();
jQuery('.selectize-input input').attr('disabled','disabled');

// When customer clicks on a currency switcher.
currencySwitcher.change(function() {
  	var newCurrency =  jQuery(this).val();
    Currency.cookie.write(newCurrency);
    Currency.convertAll(Currency.currentCurrency, newCurrency);	
    //show modal
    jQuery("#currencies-modal span").text(newCurrency);
  	if (jQuery("#cart-currency").length >0) {
      jQuery("#cart-currency").text(newCurrency);
  	}
    jQuery("#currencies-modal").fadeIn(500).delay(3000).fadeOut(500);    
});

// For product options.
var original_selectCallback = window.selectCallback;
var selectCallback = function(variant, selector) {
	original_selectCallback(variant, selector);
	Currency.convertAll(shopCurrency, jQuery('#currencies').val());
};
</script>

  
<div class="newsletterwrapper" data-newsletter id="email-modal">
  <div class="modal-overlay">
    <div class="window-content">
     <div class="grid__item  wide--five-tenths post-large--five-tenths large--five-tenths">
      <a class="close btn close-window" title="Close (Esc)">
        Liquid error: Could not find asset snippets/icon-close.liquid
      </a>
      <div class="newsletter-title">
        <h4 class="title">Get to know the latest offers</h4>
      </div>
      <p class="message">Subscribe and get notified at first on the latest update and offers!</p>
      <div id="mailchimp-email-subscibe">
        <div id="mc_embed_signup">
          
<form method="post" action="https://phono-demo.myshopify.com/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="contact-form"><input type="hidden" name="form_type" value="customer" /><input type="hidden" name="utf8" value="" />

  <input type="email" value="" placeholder="Email address" name="contact[email]" class="mail" id="mail" aria-label="Email address" required="required">
  <input type="hidden" name="contact[tags]" value="newsletter">
  <input type="submit" class="btn"  value="Send"  id="subscribe" >



</form>  
        </div>   
        <input id="dismiss" type="checkbox" name="dismiss">
        <label for="dismiss">
          <span>We do not spam</span>
        </label>
     </div>   
     </div>       
    </div>
  </div>
</div>



  
  
  <script src="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/classie5fc9.js?v=15303010894070199091"></script>
 
  <script>
    $('.qtyplus').click(function(e){
      e.preventDefault();
      var currentVal = parseInt($('input[name="quantity"]').val());
      if (!isNaN(currentVal)) {
        $('input[name="quantity"]').val(currentVal + 1);
      } else {
        $('input[name="quantity"]').val(1);
      }

    });

    $(".qtyminus").click(function(e) {

      e.preventDefault();
      var currentVal = parseInt($('input[name="quantity"]').val());
      if (!isNaN(currentVal) && currentVal > 0) {
        $('input[name="quantity"]').val(currentVal - 1);
      } else {
        $('input[name="quantity"]').val(1);
      }

    });
  </script>


  <script type="text/javascript">
    $('.quick-view .close-window').click(function() {  			
      $('.quick-view').switchClass("open-in","open-out");
    });
  </script>
  <script src="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/uisearch8a32.js?v=6048510332457064078"></script>

 
  
  <!-- End Recently Viewed Products -->
 

  <script src="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/magnific-popupc2a6.js?v=14308366903927063490" type="text/javascript"></script>
  <script type="text/javascript">
    if ( $( '.p-video' ).length > 0 ) {
      $( '.jas-popup-url' ).magnificPopup({
        disableOn: 0,
        tLoading: '<div class="loader"><div class="loader-inner"></div></div>',
        type: 'iframe'
      });
    }
  </script>

  
  <style type="text/css">
  .bottom-products-suggest {
    background-color: #fff;
    border: 0;
    border-radius: 0;
    padding: 0;
    display: block;
    position: fixed;
    text-align: left;
    width: auto;
  min-width: 250px;
   left: 35px;
    bottom: 25px;
      z-index: 1000;
}
.bottom-products-suggest .product-short-suggest .product-thumb img {
    max-width: 50px;
}
.bottom-products-suggest .product-short-suggest {
    overflow: hidden;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #efefef;
}
.bottom-products-suggest .product-short-suggest .product-thumb {
    float: right;
    margin-left: 10px;
}
.bottom-products-suggest .product-short-suggest .product-title {
    display: block;
    margin-bottom: 7px;
    font-weight: 500;
    font-size: 11px;
    line-height: 1.5;
    text-transform: uppercase;
}
.bottom-products-suggest .product-short-suggest .price del {
    color: #D0D0D0;
}
</style>  

  <script>

    


    $(document).ready(function() {
      var body = $('body');
      var doc = $(document);

      var showLeftPush = $('#showLeftPush');
      var nav = $('#cbp-spmenu-s1');

      showLeftPush.on('click', function(e) {
        e.stopPropagation();

        body.toggleClass('cbp-spmenu-push-toright');
        nav.toggleClass('cbp-spmenu-open');
        showLeftPush.toggleClass('active');
      });

      $('.gf-menu-device-wrapper .close-menu').on('click', function() {
        showLeftPush.trigger('click');
      });

      doc.on('click', function(e) {
        if (!$(e.target).closest('#cbp-spmenu-s1').length && showLeftPush.hasClass('active')) {
          showLeftPush.trigger('click');
        }        
      });
    });




  </script>  
</body>

<!-- Mirrored from phono-demo.myshopify.com/pages/contact-us by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 06 Nov 2020 10:56:26 GMT -->
</html>


