<section>
<div class="container mt-5">
  <div class="row">
    {{#each products}}
    
    <div class="col-md-3 p-3" >
     <div class="card"  >
          <center><img class="card-img-top" src="/product-images/{{this._id}}.jpg" alt="Card image cap" style="height: 200px; width:140px; padding-top: 5px;"></center>    
      <div class="card-body">
      <center><h4 style="color: #212121;" class="card-title">{{this.Name}}</h4></center> 
             <center><h5><p style="color: #388e3c;" class="card-text">₹ {{this.Price}}</p></h5></center>

       <center><p style="opacity: 0.9;" class="card-text">{{this.Description}}</p></center>
       <br>
    
     <center><button style="padding-left: 50px; padding-right: 50px; background-color: #fb641b;" onclick="addToCart('{{this._id}}')" class="btn btn-primary">Add to Cart</button></center>
    </div>
   </div>
  </div>
    {{/each}}    
 </div>
</div>
 
</section>

<script>
 
</script>